{
  "parser": "babel-eslint",
  "env": {
    "mocha": true
  },
  "extends": [ "standard", "standard-react" ],
  "plugins": [ "babel", "mocha" ],
  "globals": {
    "expect": true
  },
  "rules": {
    "curly": "off",
    "generator-star-spacing": "off",
    "jsx-quotes": [ "error", "prefer-double" ],
    "space-before-function-paren": [ "error", "never" ],
    "yield-star-spacing": [ "error", { "before": false, "after": true } ],
    "mocha/no-exclusive-tests": "error"
  }
}
